.row {
    margin-left: -20px;
    margin-right: -20px;
}

p span {
    margin: 5px 5px 0 0;
    float: left;
    display: block;
}

.ajaxLoader {
    width: 96px;
    height: 96px;
    padding-top: 104px;
    background-size: cover;
    background-image: url("../images/ajax-loader.gif");
    background-repeat: no-repeat;
    color: #ccc;
    position: absolute;
    text-align: center;
    z-index: 99999999;
    top: 40%;
    left: 49%;
    -webkit-transform: translate(-40%, -49%);
    transform: translate(-40%, -49%);
    display: none;
}